In [37]:
# print :
print('Hello World')
print(700)
print('Hello World', end='->') # end default = \n
print('Number:', 200)
print(500, 600, 700, sep='.')

Hello World
700
Number: 200
Hello World->500.600.700

In [32]:
# variables :
name = 'zapata'
num = 500
n = 50.0
b = True
print(type(name), type(num), type(n), type(b), sep='\n')
print(name, num, n, b, sep='\\')

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
zapata\500\50.0\True

In [ ]:
# PascalCase : Classes, Propertys -> UserStatus
# camelCase  : function arguments, variables, json keys -> userId
# snake_case : functions, variables, methods -> user_id

In [35]:
# input :
name = input()
number = int(input('Enter a number:'))
print(name, number)

bahman 500

In [7]:
# convert variables :
n1 = 5
print(type(n1), float(n1), sep='\n')

n2 = 6.18
print(type(n2), int(n2), sep='\n')

<class 'int'>
5.0
<class 'float'>
6

In [18]:
# ops : **, %, /, //, *, -, + :
n1 = 6
n2 = 2
print('** :', n1 ** n2)
print('% :', n1 % n2)
print('/ :', n1 / n2)
print('// :', n1 // n2)
print('* :', n1 * n2)
print('- :', n1 - n2)
print('+ :', n1 + n2)
print(n2 + n1 * (n1 // n2 * 3) % 6 ** 2) # 1:6 ** 2 = 36, 2:() = 9, 3:6 * 9 = 54, 4:54 % 36 = 18, 5:18 + 2

** : 36
% : 0
/ : 3.0
// : 3
* : 12
- : 4
+ : 8
20

In [21]:
# *, + in string :
s1 = 'hello'
s2 = 'world'
s3 = s1 + s2
print(s3)
print(s3 * 2)

helloworld
helloworldhelloworld

In [27]:
# ops : ==, !=, <, >, <=, >= :
print(5 > 6)
print(5 < 6)
print(5 == 5)
print(5 == 6)
print(5 != 5)
print(5 != 6)

False
True
True
False
False
True

In [33]:
# and, or, not :
"""
and:
    True  and True  = True
    True  and False = False
    False and True  = False
    False and False = False

or:
    True  or True  = True
    True  or False = True
    False or True  = True
    False or False = False

not:
    not True  = False
    not False = True
"""
t1 = 5 > 6
print(type(t1), t1, sep='\n')

t2 = True
print(not t2)

t3 = t1 and t2
print(t3)

t4 = t1 or t2
print(t4)

<class 'bool'>
False
False
False
True

In [40]:
# if :
if True:
    print('True')

if False:
    print('False')

True

In [42]:
n1 = 5
n2 = 6
if n1 <= n2:
    print('Ok')

if n1 == n2:    # if n1 != n2: answer?
    print('n1 == n2')

# print(n1 + n2)    print('n1 + n2')

Ok

In [46]:
if type(3) is int:
    print('3 is integer')

if 'Hello' == 'hello': # Hello != hello
    print('hi')

3 is integer

In [3]:
# List :
list_1 = list()
list_2 = []
list_3 = [1, 2, 3, 4, 5]
list_4 = ['a', 'b', 'c', 'd']
print(list_1, list_2, list_3, list_4, sep='\n')

[]
[]
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']

In [9]:
# list  + :
list_1 = [1, 2, 3, 4, 5]
list_2 = ['a', 'b', 'c', 'd']
list_3 = list_1 + list_2
print(list_3)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

In [10]:
# list append :
list_1 = [1, 2, 3, 4, 5]
list_1.append('hello')
print(list_1)

[1, 2, 3, 4, 5, 'hello']

In [13]:
# list remove :
list_1 = [1, 2, 3, 4, 5]
list_1.remove(2)
print(list_1)

[1, 3, 4, 5]

In [1]:
# for :
for i in range(5):
    print('hello world')

for i in range(5):
    print(i)

hello
hello
hello
hello
hello
0
1
2
3
4

In [12]:
# list append, for
lst = list()
for i in range(5):
    lst.append(input('Enter value:'))
print(lst)

['2', '3', '4', '5', '6']